{
  "openapi": "3.0.3",
  "info": {
    "title": "ECRP-SG APIs",
    "description": "ECRP-SG APIs",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox-sg-v6.vecrp.com:80",
      "description": "Inferred Url"
    }
  ],
  "tags": [
    {
      "name": "RPA聚合坐席Api",
      "description": "Rpa Seat Controller"
    },
    {
      "name": "Rpa相关接口",
      "description": "Rpa Controller"
    },
    {
      "name": "access-controller",
      "description": "Access Controller"
    },
    {
      "name": "announcement-controller",
      "description": "Announcement Controller"
    },
    {
      "name": "app-url-controller",
      "description": "App Url Controller"
    },
    {
      "name": "applet-call-back-controller",
      "description": "Applet Call Back Controller"
    },
    {
      "name": "channel-controller",
      "description": "Channel Controller"
    },
    {
      "name": "chat-room-controller",
      "description": "Chat Room Controller"
    },
    {
      "name": "chat-room-user-controller",
      "description": "Chat Room User Controller"
    },
    {
      "name": "customer-controller",
      "description": "Customer Controller"
    },
    {
      "name": "customer-transfer-log-controller",
      "description": "Customer Transfer Log Controller"
    },
    {
      "name": "ehd-controller",
      "description": "EHD Controller"
    },
    {
      "name": "goods-controller",
      "description": "Goods Controller"
    },
    {
      "name": "guide-behavior-count-controller",
      "description": "Guide Behavior Count Controller"
    },
    {
      "name": "guide-perf-controller",
      "description": "Guide Perf Controller"
    },
    {
      "name": "health-controller",
      "description": "Health Controller"
    },
    {
      "name": "http-error-controller",
      "description": "Http Error Controller"
    },
    {
      "name": "import-quota-controller",
      "description": "Import Quota Controller"
    },
    {
      "name": "index-controller",
      "description": "Index Controller"
    },
    {
      "name": "location-based-services-controller",
      "description": "Location Based Services Controller"
    },
    {
      "name": "marketing-controller",
      "description": "Marketing Controller"
    },
    {
      "name": "material-analysis-controller",
      "description": "Material Analysis Controller"
    },
    {
      "name": "moment-controller",
      "description": "Moment Controller"
    },
    {
      "name": "not-member-config-controller",
      "description": "Not Member Config Controller"
    },
    {
      "name": "open-client-test-controller",
      "description": "Open Client Test Controller"
    },
    {
      "name": "open-quick-word-controller",
      "description": "Open Quick Word Controller"
    },
    {
      "name": "operate-controller",
      "description": "Operate Controller"
    },
    {
      "name": "operate-open-controller",
      "description": "Operate Open Controller"
    },
    {
      "name": "operate-overview-controller",
      "description": "Operate Overview Controller"
    },
    {
      "name": "operation-handler",
      "description": "Operation Handler"
    },
    {
      "name": "operation-log-controller",
      "description": "Operation Log Controller"
    },
    {
      "name": "personal-qrcode-controller",
      "description": "Personal Qrcode Controller"
    },
    {
      "name": "quickly-word-controller",
      "description": "Quickly Word Controller"
    },
    {
      "name": "quota-year-controller",
      "description": "Quota Year Controller"
    },
    {
      "name": "repeat-customer-controller",
      "description": "Repeat Customer Controller"
    },
    {
      "name": "reward-rule-controller",
      "description": "Reward Rule Controller"
    },
    {
      "name": "rpa加好友api",
      "description": "Rpa Add Friend Controller"
    },
    {
      "name": "rpa客户管理api",
      "description": "Rpa Group Controller"
    },
    {
      "name": "rpa帐号api",
      "description": "Rpa Account Controller"
    },
    {
      "name": "rpa朋友圈营销api",
      "description": "Rpa Moment Controller"
    },
    {
      "name": "rpa消息api",
      "description": "Rpa Message Controller"
    },
    {
      "name": "rpa错误日志api",
      "description": "Rpa Report Log Controller"
    },
    {
      "name": "sensitive-words-controller",
      "description": "Sensitive Words Controller"
    },
    {
      "name": "service-controller",
      "description": "Service Controller"
    },
    {
      "name": "sg-event-track-config-controller",
      "description": "Sg Event Track Config Controller"
    },
    {
      "name": "sg-file-controller",
      "description": "Sg File Controller"
    },
    {
      "name": "sg-guide-activity-analysis-controller",
      "description": "Sg Guide Activity Analysis Controller"
    },
    {
      "name": "sg-more-account-controller",
      "description": "Sg More Account Controller"
    },
    {
      "name": "sg-qy-external-controller",
      "description": "Sg Qy External Controller"
    },
    {
      "name": "sg-shop-controller",
      "description": "Sg Shop Controller"
    },
    {
      "name": "sg-speech-controller",
      "description": "Sg Speech Controller"
    },
    {
      "name": "sg-ueditor-file-controller",
      "description": "Sg Ueditor File Controller"
    },
    {
      "name": "sg-upload-img-controller",
      "description": "Sg Upload Img Controller"
    },
    {
      "name": "sg-wx-account-controller",
      "description": "Sg Wx Account Controller"
    },
    {
      "name": "shop-perf-controller",
      "description": "Shop Perf Controller"
    },
    {
      "name": "sop模板相关接口",
      "description": "Sop Canvas Template Controller"
    },
    {
      "name": "sop画布创建接口API",
      "description": "Sop Canvas Controller"
    },
    {
      "name": "sop画布数据分析接口",
      "description": "Sop Canvas Data Analyse Controller"
    },
    {
      "name": "sop策略创建接口API",
      "description": "Sop Policy Controller"
    },
    {
      "name": "sop策略阶段接口API",
      "description": "Sop Policy Phase Controller"
    },
    {
      "name": "staff-visit-statistics-controller",
      "description": "Staff Visit Statistics Controller"
    },
    {
      "name": "sys-department-controller",
      "description": "Sys Department Controller"
    },
    {
      "name": "system-menu-controller",
      "description": "System Menu Controller"
    },
    {
      "name": "talk-form-we-come-controller",
      "description": "Talk Form We Come Controller"
    },
    {
      "name": "task-controller",
      "description": "Task Controller"
    },
    {
      "name": "template-msg-controller",
      "description": "Template Msg Controller"
    },
    {
      "name": "ueditor-controller",
      "description": "Ueditor Controller"
    },
    {
      "name": "user-controller",
      "description": "User Controller"
    },
    {
      "name": "we-chat-welcomes-controller",
      "description": "We Chat Welcomes Controller"
    },
    {
      "name": "we-work-auth-controller",
      "description": "We Work Auth Controller"
    },
    {
      "name": "we-work-config-controller",
      "description": "We Work Config Controller"
    },
    {
      "name": "we-work-guide-controller",
      "description": "We Work Guide Controller"
    },
    {
      "name": "we-work-loss-customer-controller",
      "description": "We Work Loss Customer Controller"
    },
    {
      "name": "we-work-loss-friends-controller",
      "description": "We Work Loss Friends Controller"
    },
    {
      "name": "we-work-message-controller",
      "description": "We Work Message Controller"
    },
    {
      "name": "we-work-popularize-controller",
      "description": "We Work Popularize Controller"
    },
    {
      "name": "we-work-rooms-controller",
      "description": "We Work Rooms Controller"
    },
    {
      "name": "web-mvc-links-handler",
      "description": "Web Mvc Links Handler"
    },
    {
      "name": "weixin-request-conrrent-test-controller",
      "description": "Weixin Request Conrrent Test Controller"
    },
    {
      "name": "wework-loss-friends-warn-conf-controller",
      "description": "Wework Loss Friends Warn Conf Controller"
    },
    {
      "name": "互动雷达API",
      "description": "Sg Interactive Radar Controller"
    },
    {
      "name": "企业微信-客户联系-消息推送-企业群发",
      "description": "We Work Group Message Controller"
    },
    {
      "name": "企业微信-客户联系-消息推送-执行人",
      "description": "We Work Group Message Target Controller"
    },
    {
      "name": "企业微信js-sdk校验文件",
      "description": "We Work Verify File Controller"
    },
    {
      "name": "企业微信外部联系人管理-管理后端",
      "description": "We Work External Contact Controller"
    },
    {
      "name": "企业微信标签相关API",
      "description": "We Work Tag Controller"
    },
    {
      "name": "企业微信群欢迎语-管理后端",
      "description": "We Work Group Welcome Controller"
    },
    {
      "name": "企业微信营销-管理后端",
      "description": "We Work Marketing Controller"
    },
    {
      "name": "企微好友分析-管理后端",
      "description": "We Work Friends Analysis Controller"
    },
    {
      "name": "企微客户会话统计-管理后端",
      "description": "We Work Session Statistics Controller"
    },
    {
      "name": "企微聊天数据相关",
      "description": "We Work Chat Data Controller"
    },
    {
      "name": "企微裂变大师活动-管理后端",
      "description": "Guest Code Activity Controller"
    },
    {
      "name": "企微话题数据相关",
      "description": "We Work Chat Topic Controller"
    },
    {
      "name": "企微销售业绩统计管理",
      "description": "Sales Statistics Controller"
    },
    {
      "name": "优惠券管理-管理后端",
      "description": "Sg Activity Coupon Controller"
    },
    {
      "name": "会员店铺绑定关系相关API",
      "description": "Open Wx User Bind Controller"
    },
    {
      "name": "保存被浏览量数据API",
      "description": "Open Image View Statistics Controller"
    },
    {
      "name": "公众号智能打标列表页接口API",
      "description": "Mp Mark Controller"
    },
    {
      "name": "公众号欢迎语",
      "description": "Mp Welcome Code Controller"
    },
    {
      "name": "公众号消息营销",
      "description": "Mp Message Controller"
    },
    {
      "name": "发红包设置表管理",
      "description": "Sg Redpack Send Setting Controller"
    },
    {
      "name": "后台管理-首页概况",
      "description": "Overview Controller"
    },
    {
      "name": "员工日报提醒设置表管理",
      "description": "Message Notice Controller"
    },
    {
      "name": "外部属性配置接口",
      "description": "We Work External Profile Controller"
    },
    {
      "name": "好友详情页面配置",
      "description": "Sg Member Detail Config Controller"
    },
    {
      "name": "好评返现-管理后端",
      "description": "Positive Review Cashback Activity Controller"
    },
    {
      "name": "客户可操作的配置项",
      "description": "Operate Sys Config Controller"
    },
    {
      "name": "客道对接企微信息相关API",
      "description": "Open Wx Channel Controller"
    },
    {
      "name": "对外属性日志记录--效果分析",
      "description": "We Work External Log Controller"
    },
    {
      "name": "对接企微信息相关API",
      "description": "Open Wx Tag Controller"
    },
    {
      "name": "导购",
      "description": "Guide Controller"
    },
    {
      "name": "导购提成数据相关API",
      "description": "Open Reward Controller"
    },
    {
      "name": "导购提成规则相关API",
      "description": "Open Reward Rule Controller"
    },
    {
      "name": "小程序页面配置",
      "description": "Sg Mini Program Page Setting Controller"
    },
    {
      "name": "开放接口企微信息相关API",
      "description": "Open We Work Controller"
    },
    {
      "name": "开放接口导购信息相关API",
      "description": "Open Guide Controller"
    },
    {
      "name": "开放接口微信第三方平台相关API",
      "description": "Open Mp Component Controller"
    },
    {
      "name": "开放接口授权相关API",
      "description": "Open Auth Controller"
    },
    {
      "name": "微信二维码海报-管理后端",
      "description": "We Chat Qr Code Placard Controller"
    },
    {
      "name": "微信付款账号管理",
      "description": "Method Controller"
    },
    {
      "name": "招募奖励配置",
      "description": "Secruitment Set Controller"
    },
    {
      "name": "提供导购业务API给云平台",
      "description": "Open Cloud Controller"
    },
    {
      "name": "数字门店列表-管理后端",
      "description": "Sg Digital Controller"
    },
    {
      "name": "数据分析",
      "description": "Redpack Data Analysis Controller"
    },
    {
      "name": "文件下载记录表管理",
      "description": "File Download Record Controller"
    },
    {
      "name": "文件导出记录表管理",
      "description": "File Export Record Controller"
    },
    {
      "name": "新功能上线引导相关接口",
      "description": "Iteration Announcement Controller"
    },
    {
      "name": "新菜单展示设置",
      "description": "Sg Menu Config Controller"
    },
    {
      "name": "智能打标任务接口",
      "description": "Intelligent Task Controller"
    },
    {
      "name": "智能打标任务聚合API",
      "description": "Aggregation Task Controller"
    },
    {
      "name": "智能打标列表页接口API",
      "description": "Intelligent Mark Controller"
    },
    {
      "name": "智能打标效果分析接口API",
      "description": "Intelligent Analyze Controller"
    },
    {
      "name": "智能欢迎语",
      "description": "Welcome Code Controller"
    },
    {
      "name": "模板相关接口API",
      "description": "Sop Template Controller"
    },
    {
      "name": "欢迎语日志",
      "description": "Welcome Msg Log Controller"
    },
    {
      "name": "社群日历相关接口",
      "description": "We Work Room SOP Controller"
    },
    {
      "name": "策略库文件上传下载",
      "description": "Strategy Library File Controller"
    },
    {
      "name": "管理后端长链转短链",
      "description": "Long Url 2 Short Url Controller"
    },
    {
      "name": "系统工具-管理后端",
      "description": "Common Controller"
    },
    {
      "name": "系统设置招募页面配置接口",
      "description": "Recruit Page Config Controller"
    },
    {
      "name": "系统配置",
      "description": "Sys Setting Controller"
    },
    {
      "name": "素材库(后台)",
      "description": "Material Controller"
    },
    {
      "name": "素材库统计相关API",
      "description": "Material Operation Statistics Controller"
    },
    {
      "name": "红包公众号管理",
      "description": "Wechat Official Controller"
    },
    {
      "name": "红包发放记录管理",
      "description": "Record Controller"
    },
    {
      "name": "红包封面管理",
      "description": "Cover Controller"
    },
    {
      "name": "红包策略",
      "description": "Sg Redpack Policy Controller"
    },
    {
      "name": "红包领取记录管理",
      "description": "Record Receiver Controller"
    },
    {
      "name": "绑定平台账号配置",
      "description": "Bind Platform Account Config Controller"
    },
    {
      "name": "群会话统计",
      "description": "We Work Chat Room Session Statistics Controller"
    },
    {
      "name": "群分析和群会话分析",
      "description": "We Work Chat Room Analysis Controller"
    },
    {
      "name": "群发消息",
      "description": "Open Group Message Controller"
    },
    {
      "name": "群成员管理",
      "description": "We Work Room Member Controller"
    },
    {
      "name": "群聚合码相关",
      "description": "Chat Room Group Controller"
    },
    {
      "name": "自定义内容数据",
      "description": "Ad Page Controller"
    },
    {
      "name": "获取店铺的店长或者员工聚合码API",
      "description": "Store Code Controller"
    },
    {
      "name": "融合客道功能后朋友圈相关接口",
      "description": "Merged Moment Controller"
    },
    {
      "name": "调该接口获取系统预留信息",
      "description": "System Preset Controller"
    },
    {
      "name": "集团配置管理后端",
      "description": "Sg Grouip Controller"
    },
    {
      "name": "首页和效果分析",
      "description": "Policy Analyse Controller"
    }
  ],
  "paths": {
    "/casLogin": {
      "get": {
        "tags": [
          "access-controller"
        ],
        "summary": "casLogin",
        "operationId": "casLoginUsingGET",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/core/access/changePageVersion": {
      "post": {
        "tags": [
          "access-controller"
        ],
        "summary": "changePageVersion",
        "operationId": "changePageVersionUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/变更页面版本"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/core/access/changeView": {
      "get": {
        "tags": [
          "access-controller"
        ],
        "summary": "changeView",
        "operationId": "changeViewUsingGET",
        "parameters": [
          {
            "name": "areaId",
            "in": "query",
            "description": "areaId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "areaType",
            "in": "query",
            "description": "areaType",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "access-controller"
        ],
        "summary": "changeView",
        "operationId": "changeViewUsingPUT",
        "parameters": [
          {
            "name": "areaId",
            "in": "query",
            "description": "areaId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "areaType",
            "in": "query",
            "description": "areaType",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "access-controller"
        ],
        "summary": "changeView",
        "operationId": "changeViewUsingPOST",
        "parameters": [
          {
            "name": "areaId",
            "in": "query",
            "description": "areaId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "areaType",
            "in": "query",
            "description": "areaType",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "access-controller"
        ],
        "summary": "changeView",
        "operationId": "changeViewUsingDELETE",
        "parameters": [
          {
            "name": "areaId",
            "in": "query",
            "description": "areaId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "areaType",
            "in": "query",
            "description": "areaType",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "options": {
        "tags": [
          "access-controller"
        ],
        "summary": "changeView",
        "operationId": "changeViewUsingOPTIONS",
        "parameters": [
          {
            "name": "areaId",
            "in": "query",
            "description": "areaId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "areaType",
            "in": "query",
            "description": "areaType",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "head": {
        "tags": [
          "access-controller"
        ],
        "summary": "changeView",
        "operationId": "changeViewUsingHEAD",
        "parameters": [
          {
            "name": "areaId",
            "in": "query",
            "description": "areaId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "areaType",
            "in": "query",
            "description": "areaType",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "access-controller"
        ],
        "summary": "changeView",
        "operationId": "changeViewUsingPATCH",
        "parameters": [
          {
            "name": "areaId",
            "in": "query",
            "description": "areaId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "areaType",
            "in": "query",
            "description": "areaType",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "trace": {
        "tags": [
          "access-controller"
        ],
        "summary": "changeView",
        "operationId": "changeViewUsingTRACE",
        "parameters": [
          {
            "name": "areaId",
            "in": "query",
            "description": "areaId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "areaType",
            "in": "query",
            "description": "areaType",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/core/access/exit": {
      "get": {
        "tags": [
          "access-controller"
        ],
        "summary": "exit",
        "operationId": "exitUsingGET",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "access-controller"
        ],
        "summary": "exit",
        "operationId": "exitUsingPUT",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "access-controller"
        ],
        "summary": "exit",
        "operationId": "exitUsingPOST",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "access-controller"
        ],
        "summary": "exit",
        "operationId": "exitUsingDELETE",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "options": {
        "tags": [
          "access-controller"
        ],
        "summary": "exit",
        "operationId": "exitUsingOPTIONS",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "head": {
        "tags": [
          "access-controller"
        ],
        "summary": "exit",
        "operationId": "exitUsingHEAD",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "access-controller"
        ],
        "summary": "exit",
        "operationId": "exitUsingPATCH",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "trace": {
        "tags": [
          "access-controller"
        ],
        "summary": "exit",
        "operationId": "exitUsingTRACE",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/core/areaTree": {
      "get": {
        "tags": [
          "access-controller"
        ],
        "summary": "areaTree",
        "operationId": "areaTreeUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/core/findExcelLoginIsOk": {
      "get": {
        "tags": [
          "access-controller"
        ],
        "summary": "findExcelLoginIsOk",
        "operationId": "findExcelLoginIsOkUsingGET",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "access-controller"
        ],
        "summary": "findExcelLoginIsOk",
        "operationId": "findExcelLoginIsOkUsingPUT",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "access-controller"
        ],
        "summary": "findExcelLoginIsOk",
        "operationId": "findExcelLoginIsOkUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "access-controller"
        ],
        "summary": "findExcelLoginIsOk",
        "operationId": "findExcelLoginIsOkUsingDELETE",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "options": {
        "tags": [
          "access-controller"
        ],
        "summary": "findExcelLoginIsOk",
        "operationId": "findExcelLoginIsOkUsingOPTIONS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "head": {
        "tags": [
          "access-controller"
        ],
        "summary": "findExcelLoginIsOk",
        "operationId": "findExcelLoginIsOkUsingHEAD",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "access-controller"
        ],
        "summary": "findExcelLoginIsOk",
        "operationId": "findExcelLoginIsOkUsingPATCH",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "trace": {
        "tags": [
          "access-controller"
        ],
        "summary": "findExcelLoginIsOk",
        "operationId": "findExcelLoginIsOkUsingTRACE",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/core/findExcelLoginLog": {
      "get": {
        "tags": [
          "access-controller"
        ],
        "summary": "findExcelLoginLog",
        "operationId": "findExcelLoginLogUsingGET",
        "parameters": [
          {
            "name": "accountType",
            "in": "query",
            "description": "accountType",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "validTime",
            "in": "query",
            "description": "validTime",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shopId",
            "in": "query",
            "description": "shopId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "operateName",
            "in": "query",
            "description": "operateName",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operateId",
            "in": "query",
            "description": "operateId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true
      }
    },
    "/core/findLoginList": {
      "get": {
        "tags": [
          "access-controller"
        ],
        "summary": "findLoginList",
        "operationId": "findLoginListUsingGET",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableResponse«Record»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "access-controller"
        ],
        "summary": "findLoginList",
        "operationId": "findLoginListUsingPUT",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableResponse«Record»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "access-controller"
        ],
        "summary": "findLoginList",
        "operationId": "findLoginListUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableResponse«Record»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "access-controller"
        ],
        "summary": "findLoginList",
        "operationId": "findLoginListUsingDELETE",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableResponse«Record»"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "options": {
        "tags": [
          "access-controller"
        ],
        "summary": "findLoginList",
        "operationId": "findLoginListUsingOPTIONS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TableResponse«Record»"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "head": {
        "tags": [
          "access-controller"
        ],
        "summary": "findLoginList",
        "operationId": "findLoginListUsingHEAD",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TableResponse«Record»"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "access-controller"
        ],
        "summary": "findLoginList",
        "operationId": "findLoginListUsingPATCH",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TableResponse«Record»"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "trace": {
        "tags": [
          "access-controller"
        ],
        "summary": "findLoginList",
        "operationId": "findLoginListUsingTRACE",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TableResponse«Record»"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/getCloudPlatformAddress": {
      "get": {
        "tags": [
          "access-controller"
        ],
        "summary": "getCloudPlatformAddress",
        "operationId": "getCloudPlatformAddressUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/getSession": {
      "get": {
        "tags": [
          "access-controller"
        ],
        "summary": "getSession",
        "operationId": "getSessionUsingGET",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "access-controller"
        ],
        "summary": "getSession",
        "operationId": "getSessionUsingPUT",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "access-controller"
        ],
        "summary": "getSession",
        "operationId": "getSessionUsingPOST",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "access-controller"
        ],
        "summary": "getSession",
        "operationId": "getSessionUsingDELETE",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "options": {
        "tags": [
          "access-controller"
        ],
        "summary": "getSession",
        "operationId": "getSessionUsingOPTIONS",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "head": {
        "tags": [
          "access-controller"
        ],
        "summary": "getSession",
        "operationId": "getSessionUsingHEAD",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "access-controller"
        ],
        "summary": "getSession",
        "operationId": "getSessionUsingPATCH",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "trace": {
        "tags": [
          "access-controller"
        ],
        "summary": "getSession",
        "operationId": "getSessionUsingTRACE",
        "parameters": [
          {
            "name": "creationTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastAccessedTime",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxInactiveInterval",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "new",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "valueNames",
            "in": "query",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/loginTest": {
      "get": {
        "tags": [
          "access-controller"
        ],
        "summary": "loginTest",
        "operationId": "loginTestUsingGET",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "description": "groupId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "corpId",
            "in": "query",
            "description": "corpId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "areaId",
            "in": "query",
            "description": "areaId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "account",
            "in": "query",
            "description": "account",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isMock",
            "in": "query",
            "description": "isMock",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "access-controller"
        ],
        "summary": "loginTest",
        "operationId": "loginTestUsingPUT",
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "description": "groupId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "corpId",
            "in": "query",
            "description": "corpId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "areaId",
            "in": "query",
            "description": "areaId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "account",
            "in": "query",
            "description": "account",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isMock",
            "in": "query",
            "description": "isMock",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResult"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "access-controller"
        ],
        "summary": "loginTest",
        "operationId": "loginTestUsingPOST",
        "parameters": [
[...]
